/* ./src/index.css */

.back{
    background-color:rgb(0, 0, 0);
    align-items: center;
    justify-content: flex-end;
    color:white;

}

.logo{
    font-family: 'Major Mono Display', monospace;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.poppin{
    font-family: 'Poppins', sans-serif;
}

.buy{
    background: url("./assets/buy.jpg")center;
}

.rent{
    background: url("./assets/rent.jpg") center;
}
.white{
    color:white;
}
.center {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.rentback{
    background: url("./assets/rentpage.jfif") center;
    
}
@tailwind base;
@tailwind components;
@tailwind utilities;
